.topWrapper {
  margin-bottom: 10px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;

  &:hover {
    background-color: #cfd8dc;
  }

  &.delete {
    background-color: gray;
    color: white;
    transition: 0.2s;

    &:hover {
      background-color: #ce0000;
    }
  }
}

:host {
  .mat-table {
    width: 100%;
  }

  .mat-list-item-content {
    width: 100%;
  }
}
