<h1 mat-dialog-title>カテゴリを登録</h1>
<div mat-dialog-content>
  <form class="formWrapper" [formGroup]="categoryFormControl">
    <mat-form-field class="filed">
      <mat-label>カテゴリ名</mat-label>
      <input matInput formControlName="categoryName" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">キャンセル</button>
  <button
    mat-button
    (click)="addCategory()"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    登録
  </button>
</div>
