<header>
  <section>
    <h1>{{ title }}</h1>

    <nav>
      <a mat-flat-button routerLink="/dashboard">ダッシュボード</a>
      <a mat-flat-button routerLink="/list">一覧</a>
      <a mat-flat-button routerLink="/history">履歴</a>
    </nav>
  </section>

  <div class="buttonWrapper">
    <button mat-flat-button (click)="openEditDialog()">登録</button>
    <button mat-flat-button (click)="openSearchDialog()">検索</button>
    <a mat-flat-button routerLink="/setting">設定</a>
  </div>
</header>
<router-outlet></router-outlet>
