@use "@angular/material" as mat;
@use "./assets/palette" as palette;
@include mat.core();

// primary に $custom-primary を指定
$custom-primary: mat.define-palette(palette.$custom-primary);
// secondary はAngular Material のpalette からlight-blue を指定
$custom-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

@include mat.all-component-themes($custom-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  color: #0040c0 !important;
  font-size: 14px !important;
  margin-bottom: 10px !important;
}

h3 {
  color: #0040c0 !important;
  font-size: 12px !important;
  margin-bottom: 10px !important;
}

h4 {
  color: #0040c0 !important;
  font-size: 10px !important;
  margin-bottom: 10px !important;
}

h5 {
  color: #0040c0 !important;
  font-size: 8px !important;
  margin-bottom: 10px !important;
}

h6 {
  color: #0040c0 !important;
  font-size: 6px !important;
  margin-bottom: 10px !important;
}
